.product-details {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #d1cacac1;
  }
  
  .product-details img {
    width: 40%;
    margin-left:25%;
    height: auto;
    border-radius: 60px;
  }
  
  .product-details h1 {
    
    margin-top: 0;
    font-size: 2rem;
    color: #333;
  }
  
  .product-details p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
  }
  
  .product-details .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
  }
  
  .product-details .rating {
    font-size: 1rem;
    color: #ff9500;
  }
  
  .product-details .like-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: red;
  }
  
  .product-details .like-button .MuiSvgIcon-root {
    font-size: 2rem;
  }
  
  .product-details .like-button:hover .MuiSvgIcon-root {
    transform: scale(1.1);
    transition: transform 0.2s ease;
  }
  
  